# Project Title


pip freeze > requirements.txt


//installion //instructions
## Installation
1. Clone the repository: `git clone https://github.com/username/repository.git`
2. Navigate to the project directory: `cd repository`
3. Set up a virtual environment: `python -m venv .venv`
4. Activate the virtual environment:
   - On Windows: `.venv\Scripts\activate`
   - On macOS/Linux: `source .venv/bin/activate`
5. Install dependencies: `pip install -r requirements.txt`

## Usage
1. Run the application: `python app.py`
2. Open a web browser and navigate to `http://127.0.0.1:5000/`

